# Load Processed Data

In [1]:
%run ./Airbnb_DataSource_n_DataWrangling.ipynb

Requirement already satisfied: sklearn in c:\users\khyat\.conda\envs\r_work\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\khyat\.conda\envs\r_work\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied: joblib>=0.11 in c:\users\khyat\.conda\envs\r_work\lib\site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied: numpy>=1.11.0 in c:\users\khyat\.conda\envs\r_work\lib\site-packages (from scikit-learn->sklearn) (1.17.2)
Requirement already satisfied: scipy>=0.17.0 in c:\users\khyat\.conda\envs\r_work\lib\site-packages (from scikit-learn->sklearn) (1.3.1)

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

total 3162
-rw-r--r-- 1 khyat 197609 3124181 Sep 26 15:50 Airbnb.pptx
drwxr-xr-x 1 khyat 197609       0 Oct  1 13:05 Data
drwxr-xr-x 1 khyat 197609       0 Oct  1 12:22 Data_Original
drwxr-xr-x 1 khyat 197609       0 Oct  3 01:37 Data_Output
drwxr-xr-x 1 khyat 197609       0 Oct  1 12:55 Temp
drwxr-xr-x 1 khyat 197609       0 Oct  2 23:55 Visualization_Output
-rw-r--r-- 1 khyat 197609      39 May  9 10:15 apikey.txt
-rw-r--r-- 1 khyat 197609   94729 Oct  3 01:56 treeClassifier.txt
-rw-r--r-- 1 khyat 197609     165 Sep 26 13:19 ~$Airbnb.pptx

C:\Users\khyat\.conda\envs\R_Work\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
./Airbnb_DataSource_n_DataWrangling.ipynb:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  "cells": [

In [2]:
df.head(n=2)
# print(df.shape)

,id,scrape_id,last_scraped,name,summary,description,experiences_offered,host_id,host_name,host_since,...,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price_group,room_type_num
0,13913,20190710134553,2019-07-11,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,My bright double bedroom with a large window h...,business,54730,Alina,2009-11-16,...,moderate,f,f,3,1,2,0,0.15,medium,0
1,15400,20190710134553,2019-07-11,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,Lots of windows and light. St Luke's Gardens ...,romantic,60302,Philippa,2009-12-05,...,strict_14_with_grace_period,t,t,1,1,0,0,0.73,medium,1

In [3]:
from nltk.corpus import stopwords

In [8]:
import nltk

In [9]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\khyat\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

# Text Mining

Amenities should directly relate with price. We will check if this is true for this data by doing this analysis.

In [4]:
# predictors_set = ['amenities']
# x = df.loc[:, predictors_set]
# y = df.price

In [5]:
# train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.25,train_size=0.75)

In [11]:
# stop = stopwords.words('english')

# train_x['stopwords'] = train_x['amenities'].apply(lambda x: len([x for x in x.split() if x in stop]))
# train_x[['amenities','stopwords']].head()

C:\Users\khyat\.conda\envs\R_Work\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                               amenities  stopwords
15826  {Internet,Wifi,Kitchen,"Paid parking off premi...          1
81583  {TV,Wifi,Kitchen,Heating,Washer,Dryer,"Smoke d...          1
10396  {TV,Internet,Wifi,Kitchen,"Free parking on pre...          1
27223  {TV,Wifi,Kitchen,Heating,Washer,Dryer,Essentia...          0
4821   {TV,Wifi,Kitchen,Breakfast,Elevator,"Buzzer/wi...          4

In [14]:
# from nltk.tokenize import word_tokenize
# nltk.download('punkt')

# train_x['token'] = word_tokenize(train_x['amenities'])
# train_x.head(n=5)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\khyat\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

TypeError: expected string or bytes-like object

In [19]:
df['tokens'] = df.amenities.str.strip().str.split('[\W_]+')
df.head(n=2)

,id,scrape_id,last_scraped,name,summary,description,experiences_offered,host_id,host_name,host_since,...,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price_group,room_type_num,token,tokens
0,13913,20190710134553,2019-07-11,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,My bright double bedroom with a large window h...,business,54730,Alina,2009-11-16,...,f,3,1,2,0,0.15,medium,0,"[, TV, Cable, TV, Wifi, Kitchen, Paid, parking...","[, TV, Cable, TV, Wifi, Kitchen, Paid, parking..."
1,15400,20190710134553,2019-07-11,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,Lots of windows and light. St Luke's Gardens ...,romantic,60302,Philippa,2009-12-05,...,t,1,1,0,0,0.73,medium,1,"[, TV, Cable, TV, Internet, Wifi, Air, conditi...","[, TV, Cable, TV, Internet, Wifi, Air, conditi..."
2,17402,20190710134553,2019-07-11,Superb 3-Bed/2 Bath & Wifi: Trendy W1,"Open from June 2018 after a 3-year break, we a...","Open from June 2018 after a 3-year break, we a...",none,67564,Liz,2010-01-04,...,f,14,14,0,0,0.41,high,1,"[, TV, Wifi, Kitchen, Paid, parking, off, prem...","[, TV, Wifi, Kitchen, Paid, parking, off, prem..."
3,24328,20190710134553,2019-07-11,Battersea bedroom & office w parking shared ga...,"Artist house, bright high ceiling rooms, priva...","Artist house, bright high ceiling rooms, priva...",family,41759,Joe,2009-09-28,...,t,1,1,0,0,0.88,high,1,"[, TV, Cable, TV, Internet, Wifi, Kitchen, Fre...","[, TV, Cable, TV, Internet, Wifi, Kitchen, Fre..."
4,25023,20190710134553,2019-07-11,All-comforts 2-bed flat near Wimbledon tennis,"Large, all comforts, 2-bed flat; first floor; ...","Large, all comforts, 2-bed flat; first floor; ...",none,102813,Amanda,2010-04-03,...,f,1,1,0,0,0.69,medium,1,"[, TV, Wifi, Kitchen, Free, parking, on, premi...","[, TV, Wifi, Kitchen, Free, parking, on, premi..."

In [21]:
rows = list()
for row in df[['id', 'price', 'tokens']].iterrows():
    r = row[1]
    for token in r.tokens:
        rows.append((r.id, r.price, token))

tokens = pd.DataFrame(rows, columns=['id', 'price', 'tokens'])
tokens.head()

      id  price tokens
0  13913   65.0
1  13913   65.0     TV
2  13913   65.0  Cable
3  13913   65.0     TV
4  13913   65.0   Wifi

In [26]:
tokens['tokens'].replace('', np.nan, inplace=True)
tokens.dropna(subset=['tokens'], inplace=True)
tokens['value'] = 1
tokens.head()

      id  price   tokens  value
1  13913   65.0       TV      1
2  13913   65.0    Cable      1
3  13913   65.0       TV      1
4  13913   65.0     Wifi      1
5  13913   65.0  Kitchen      1

In [29]:
tokens.pivot(index='id', columns='tokens', values='value')

ValueError: Index contains duplicate entries, cannot reshape